.app {
  min-height: 100vh;
  background: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red {
  color: red;
  font-size: 50px;
}
